<ul class="slidemenu-nav">
  <a id="slidemenu-close" href="#" class="btn btn-md pull-right toggle"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
  <li>
    <a href="{{@blog.url}}">
      <i class="fa fa-home fa-2x"></i> HOME
    </a>
  </li>
  <li><a href="{{@blog.url}}/about-me">
    <i class="fa fa-male fa-2x"></i> ABOUT</a>
  </li>
  <li>
    <a href="{{@blog.url}}/rss/">
      <i class="fa fa-rss  fa-2x"></i> SUBSCRIBE
    </a>
  </li>
  <li class="slidemenu-divider"></li>
  <li>
    CATEGORIES
  </li>
  <li>
    <a href="{{@blog.url}}/tag/it">
      <i class="fa fa-code fa-2x"></i> EDUCATION
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/tag/design">
      <i class="fa fa-heart fa-2x"></i> CHILDREN
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/tag/books">
      <i class="fa fa-book fa-2x"></i> OTTAWA U
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/tag/thoughts">
      <i class="fa fa-coffee fa-2x"></i> PERSONAL
    </a>
  </li>



  <li class="slidemenu-divider"></li>
  <li>
    CONTACT ME
  </li>
  <li>
    <a href="mailto:megan.lafave@hotmail.com" target="_blank">
      <i class="fa fa-envelope fa-2x"></i> EMAIL
    </a>
  </li>
  <li>
    <a href="https://twitter.com/mrsmgirard" target="_blank">
      <i class="fa fa-twitter fa-2x"></i> TWITTER
    </a>
  </li>


{{#if tags}}
<ul>
{{#foreach tags}}
<li>{{name}}</li>
{{/foreach}}
</ul>
{{/if}}
</ul>
