<ul class="list-inline">
    <li><a href="https://twitter.com/mrsmgirard" class="btn-social btn-outline" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
    </li>
    <li><a href="mailto:megan.girard@hotmail.com" class="btn-social btn-outline" title="Email"><i class="fa fa-fw fa-envelope"></i></a>
    </li>
</ul>
